<p id="notice"><%= notice %></p>

<h1>Scafs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scafs.each do |scaf| %>
      <tr>
        <td><%= scaf.title %></td>
        <td><%= scaf.content %></td>
        <td><%= link_to 'Show', scaf %></td>
        <td><%= link_to 'Edit', edit_scaf_path(scaf) %></td>
        <td><%= link_to 'Destroy', scaf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scaf', new_scaf_path %>
